@media print {
    p{
        color: #F00;
        font-size: 40px;
    }
}

@media screen {
    p{
        color: #00F;
        font-size: 20px;
    }
}



/* 
    يمكن تحديد نوع الشيء الذي ستظهر عليه التنسيقات طباعة او شاشة الخ
*/

/* 
    <link rel="stylesheet" href="style.css" media="?">
*/

/* 
    لتجريب المثال قم بطباعة الصفحة
*/