



/* 
    aside > div = direct child
    سيتم تطبيق التنسيقات على كل ديف هو ابن مباشر لل اسايد واذا كان هناك ديف داخل الديف لن تتطبق التنسيقات عليه
*/

/* 
    *: اي تطبيق التنسيقات على كل عناصر الصفحة
*/

/* 
    p + div = next
    يتم تطبيق التنسيقات على العنصر الثاني اذا كان العنصر الذي يلي العنصر الاول هو ذاته المكتوب اعلاه
    ((لو العنصر اللي بعد الباراجراف ديف طبق التنسيقات))
*/

/* 
    p ~ div : عايز باراجراف وعايز ديف يكون مشترك معاه بنفس الاب يكون بعده طبقلي عليه التنسيقات
*/

/* 
    الفرق بين ال + وال~ هي
    - +: التطبيق على العنصر اللذي بعده مباشرة
    - ~: التطبيق على كل العناصر التي بعده
*/