p{
    color: #F00;
}

.one{
    color: #00F;
}

.two{
    color: #080;
}




/*  
    الكلاس أقوى من التاغ العام
*/

/* 
    الكلاس الذي في الاسفل دائما أقوى من الذي في الاسفل
*/

/* 
    الستايل السفلي أقوى
*/

/* 
    الاقوى من ملف الستايل نفسه هو تاغ الستايل الذي في الهيد
*/

/* 
    الأقوى على الاطلاق هو التنسيق الذي يكتب داخل العنصر
*/

/* 
    
*/