* {
    box-sizing: border-box;
}

.container {
    width: 250px;
    height: 50px;
    margin: 10px;
    float: left;
    font-family: arial, tahoma;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.container .box {
    height: 50px;
    line-height: 50px;
    position: relative;
    color: #FFF;
    z-index: 2;
}

.container a {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    color: #FFF;
    text-decoration: none;
    position: relative;
    top: -50px;
    z-index: 1;
}

.container:hover a {
    top: 0;
}

.normal:before {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    content: "normal hover";
}

.normal .box {
    background-color: #62C8F8;
}

.transition:before {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    content: "transition hover";
}

.transition .box {
    background-color: #3B5998;
}

.trnsation a {
    transition: all .5s ease-in-out;
}

.animation:before {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    content: "animation hover";
}

.animation .box {
    background-color: #C8302A;
}

.animation a {
    transition: all .5s ease-in-out;
}

.animation:hover a {
    transform-origin: top;
    animation: swinging 1.5s ease-in-out;
}

@keyframes swinging {
    
    0% {
        transform: rotateX(-50deg);
    }

    20% {
        transform: rotateX(50deg);
    }

    40% {
        transform: rotateX(-30deg);
    }

    60% {
        transform: rotateX(30deg);
    }

    80% {
        transform: rotateX(-30deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}