* {
    margin: 0;
    padding: 0;
}

div {
    background: #00F;
    color: #FFF;
    padding: 10px;
    width: 400px;
    margin: 10px auto;
}



/* 
    margin (top / right / bottom / left)
    الهوامش الخارجية
*/

/* 
    margin-auto
    لتوسيط العنصر عن طريق المارجين وذلك بعد تحديد الويدث
*/

/* 
    يأخذ المارجين قيم سلبية
*/

/* 
    margin: 10px 10px 10px 10px
*/