ul {
    list-style-type: disc;
    list-style-position: inside;
    list-style-image: url(icone.png) ;
}

ul li {
    border: 1px solid #DDD;
}



/* 
    list-style-type > def: disc
    لتحديد شكل النقاط
    -none
    -squer
    ...
*/

/* 
    list-style-position > def: outside
    لتحديد موقع النقاط
    -inside: داخل البوردر
*/

/* 
    list-style-image 
    لجعل النقاط صورة
*/

/* 
    list-style: disc outside url(icone.png)
*/