



/* 
    :first-letter: 
    الحرف الاول طبق عليه التنسيقات التالية
*/

/* 
    :first-line:
    السطر الاول طبق عليه التنسيقات التالية
*/

/* 
    :first-child:
    اول ابن في البوكس طبق عليه التنسيقات
*/