* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
    transition: <property> | <duration> | <timing function> | <delay>
*/

div {
    width: 120px;
    padding: 10px;
}

div p {
    margin-bottom: 10px;
    padding: 10px;
    width: 120px;
    background-color: #F00;
    color: #FFF;
    -webkit-transition: width 5s,background-color 5s;
    transition:  width 5s,background-color 5s;
}

.timing-function p:first-of-type {
    transition-timing-function: ease;
}

.timing-function p:nth-of-type(2) {
    transition-timing-function: linear;
}

.timing-function p:nth-of-type(3) {
    transition-timing-function: ease-in;
}

.timing-function p:nth-of-type(4) {
    transition-timing-function: ease-out;
}

.timing-function p:last-of-type {
    transition-timing-function: ease-in-out;
}

div:hover p {
    width: 200px;
    background-color: #00F
}

.delay p:first-of-type {
    transition-delay: .5s;
}

.delay p:nth-of-type(2) {
    transition-delay: 1s;
}

.delay p:nth-of-type(3) {
    transition-delay: 1.5s;
}

.delay p:nth-of-type(4) {
    transition-delay: 2s;
}

.delay p:last-of-type {
    transition-delay: 2.5s;
}