* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 320px;
    margin: 100px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;

}

.card:hover {
    transform: rotateY(180deg);
}

.card > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EEE;
    color: #777;
    border-radius: 10px;
    border: 1px solid #CCC;
    font-family: arial,tahoma;
    text-align: center;
}

.card .front {
    z-index: 2;
    backface-visibility: hidden;
}

.card .front header {
    background-color: #444;
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 55px;
}

.card .front img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 25px;

}

.card .front h3 {
    margin-bottom: 5px;
}

.card .front p {
    margin: auto;
    width: 90%;
    line-height: 1.7;
}

.card .front span {
    display: inline-block;
    margin-top: 5px;
    color: #1d6caf;
    font-weight: bold;
}

.card .back {
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card .back ul {
    padding: 0;
    list-style: none;
    line-height: 2;
}