/* 

*/

body {
    perspective: 600px;
}

img {
    display: block;
    margin: 100px auto;
    transition: all .5s ease-in-out;
}

/* 
    matrix3d(scaleX,0,0,0,0,scaleY,0,0,0,0,0,0,translateX,translateY,scaleZ,1)
    matrix3d(a1, b1, c1, d1, a2, b2, c2, d2, a3, b3, c3, d3, a4, b4, c4, d4)
*/

img:hover {
    transform: matrix3d(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,);
}