/* 

*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
    box-sizing: border-box
}

img {
    transition: all .5s ease-in-out;
}

img:hover {
    transform: rotateZ(180deg);
}