/* 

*/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
    transform: matrix( a, b, c, d, X, Y)
    transform: matrix( scaleX, skewY, skewX, scaleY, translateX, translateY)
*/

img {
    transform: matrix( 0.86, 0.5, -0.5, 0.86, 300, 100 )
}