/* 
    يقبل قيم سلبية وايجابية 

    يمكن الكتابة بطريقتين
    transform: translate(10px,0)
    transform: translateX(10px)
    transform: translate(0,10px)
    transform: translateY(10px)
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 400px;
    background: #EEE;
    margin: 100px auto;
    padding: 10px;
    border: 1px solid #CCC;
    height: 200px;
    overflow: visible;
}

.translate {
    background: #080;
    color: #FFF;
    text-align: center;
    height: 180px;
}

.translate:hover { 
    -webkit-transform: translate(150px,0px) scale(.5) rotate(90deg);
    transform: translate(150px,0px) scale(.5) rotate(90deg);
}