* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: arial, tahoma;
}

body > div {
    border: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 30px;
}

body h1 {
    color: #080;
}

/* ---------------------- Nth child --------------------- */

/* From 4 To End */
.nth-child .part1 :nth-child(n+4) {
    color: #F00;
}

/* From 4 To Start */
.nth-child .part2 :nth-child(-n+4) {
    color: #F00;
}


/* 
    4n+1= 4x0+1= 1
    4n+1= 4x1+1= 5
    4n+1= 4x2+1= 9
*/
.nth-child .part3 :nth-child(4n+1) {
    color: #F00;
}

/* 
    From 3 To End + From 7 To Start = From 3 To 7
*/
.nth-child .part4 :nth-child(n+3):nth-child(-n+7) {
    color: #F00;
}

/* -------------------- End Nth child ------------------- */

/* --------------------- Nth Of Type -------------------- */

/* From 3 To End */
.nth-of-type .part1 p:nth-of-type(n+2) {
    color: #F00;
}

/* From 4 To Start */
.nth-of-type .part2 p:nth-of-type(-n+4) {
    color: #F00;
}

/* 
    2xn+1 =>
    2x0+1= 1
    2x1+1= 3
    2x2+1= 5
*/
.nth-of-type .part3 div:nth-of-type(2n+1) {
    color: #F00;
}

/* 
    From 2 To End + From 4 To Start = From 2 To 4
*/
.nth-of-type .part4 div:nth-of-type(n+2):nth-of-type(-n+4) {
    color: #F00;
}