* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: arial, tahoma;
}

body > div {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 10px;
}

.only-child :only-child {
    color: #F00;
}

.only-of-type :only-of-type {
    color: #F00;
}

.selection *::selection {
    background-color: #333;
    color: #FFF;
}