* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-family: arial, tahoma
}

body > div {
    border: 1px solid #CCC;
    padding: 20px;
    margin-bottom: 20px;
}

.checked :checked+label{
    color: rgb(54, 134, 187);
    font-weight: bolder;
}

.disabled :disabled {
    background-color: #DDD;
}

.enabled :enabled {
    border: 3px solid;
}

.empty :empty {
    width: 50%;
    height: 50px;
    background-color: #F00;
}