/* 
    inhert: في جميع عناصر السي اس اس يأخذ الخواص من الاب

    text-overflow:
    -def: clip
    -ellipsis: تضع نقاط لتعلمك ان الجملة لم تنتهي 
*/

div {
    background: #EEE;
    padding: 10px;
    border: 1px solid #CCC;
    font-family: Arial,Tahoma;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

