* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

.container {
    width: 40%; height: 80vh; padding: 1em;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 4px #DDD,
                -2px -2px 10px #DDD;
    text-align: center;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin-bottom: .5em;
    font-weight: 600;
    color: #555;
}

.container #resulte {
    font-size: 1.5em;
    color: #F00;
    padding: .5em 0;
}

.container input {
    width: 90%; padding: .5em 1em; margin: 1em 0;
    font-size: 1.5em; font-weight: bolder;
    border-radius: 2em;
    outline: none;
    border: 1px solid #DDD;
}

.container button {
    width: 50%; padding: .5em;
    font-size: 1.2em; font-weight: bolder;
    border: 1px solid #DDD;
    background-color: rgb(119, 109, 109);
    color: #FFF;
    border-radius: 2em;
    outline: none;
}