.div1 {
    background: #F00;
    color: #FFF;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
}

.div2 {
    background: #080;
    color: #FFF;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top:20px;
    left:20px;
    z-index:3;
}

.div3 {
    background: #00F;
    color: #FFF;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top:40px;
    left:40px;
    z-index:1;
}



/* 
    z-index > def: auto
    يستخدم في عمل تراكب للعناصر
*/

/* 
    بالنسبة للترتيب ال1 يبدأ من الأسفل وكلما ارتفع الرقم ارتفع العنصر أي أعلى رقم هو أعلى طبقة
*/

/* 
    يعمل الى جانب البوزيشن
*/