/* 
    align-items:
    streatch: baseline: def: يقوم بأخذ مساحة الكتابة
    
    flex-start: يقوم بترتيب العناصر بشكل افقي من الأعلى إلى الأسفل أو العكس ويبدأ من الاعلى

    -flex-end: يقوم بترتيب العناصر بشكل افقي من الأعلى إلى الأسفل أو العكس ويبدأ من الأسفل

    -center: يقوم بترتيب العناصر بشكل افقي من الأعلى إلى الأسفل أو العكس ويبدأ من الوسط
*/

.container {
    width: 800px;
    height: 400px;
    margin: 50px auto;
    background-color: #EEE;
    display: flex;
    align-items: flex-end;
}

.container div {
    color: #FFF;
    width: 180px;
    padding: 10px;
    max-height: 100px;
}

.container div:first-of-type {
    background-color: #080;
    
}

.container div:nth-of-type(2) {
    background-color: #F00;

}
.container div:last-of-type {
    background-color: #00F;

}